In [1]:
%pip install --upgrade snowflake-sqlalchemy --quiet

Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL


engine = create_engine(
    URL(
        drivername="driver",
        user="user",
        password="password",
        account="account",
        database="database",
        role="role",
        schema="schema",
        warehouse="warehouse",
    )
)

In [3]:
import urllib.request

urllib.request.urlretrieve(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
    "penguins.csv",
)

('penguins.csv', <http.client.HTTPMessage at 0x1357fb580>)

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql engine

In [9]:
import pandas as pd

df = pd.read_csv("penguins.csv")
connection = engine.connect()
df.to_sql(name="penguins", con=connection, index=False, if_exists="replace")

344

In [10]:
%%sql
SELECT COUNT(*) FROM penguins

Running query in 'snowflake://neelasha:***@lpb17716.us-east-1/JUPYSQL/INTEGRATION?drivername=snowflake&role=SYSADMIN&warehouse=COMPUTE_WH'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|   344    |
+----------+

In [11]:
%%sql
SELECT species, COUNT(*) AS count
FROM penguins
GROUP BY species
ORDER BY count DESC

Running query in 'snowflake://neelasha:***@lpb17716.us-east-1/JUPYSQL/INTEGRATION?drivername=snowflake&role=SYSADMIN&warehouse=COMPUTE_WH'

3 rows affected.

+-----------+-------+
|  species  | count |
+-----------+-------+
|   Adelie  |  152  |
|   Gentoo  |  124  |
| Chinstrap |   68  |
+-----------+-------+

In [12]:
%%sql --save no_nulls --no-execute
SELECT *
FROM penguins
WHERE body_mass_g IS NOT NULL and
sex IS NOT NULL

Running query in 'snowflake://neelasha:***@lpb17716.us-east-1/JUPYSQL/INTEGRATION?drivername=snowflake&role=SYSADMIN&warehouse=COMPUTE_WH'

Skipping execution...

In [13]:
%%sql
SELECT island, avg(body_mass_g) as avg_body_mass_g
FROM no_nulls
GROUP BY island;

Generating CTE with stored snippets : no_nulls

Running query in 'snowflake://neelasha:***@lpb17716.us-east-1/JUPYSQL/INTEGRATION?drivername=snowflake&role=SYSADMIN&warehouse=COMPUTE_WH'

3 rows affected.

+-----------+--------------------+
|   island  |  avg_body_mass_g   |
+-----------+--------------------+
| Torgersen | 3708.5106382978724 |
|   Biscoe  | 4719.171779141105  |
|   Dream   | 3718.9024390243903 |
+-----------+--------------------+

In [14]:
%sqlcmd tables

+----------+
|   Name   |
+----------+
| penguins |
+----------+

In [15]:
%sqlcmd columns --table penguins

+-------------------+-------------------+----------+---------+---------------+---------+-------------+
|        name       |        type       | nullable | default | autoincrement | comment | primary_key |
+-------------------+-------------------+----------+---------+---------------+---------+-------------+
|      species      | VARCHAR(16777216) |   True   |   None  |     False     |   None  |    False    |
|       island      | VARCHAR(16777216) |   True   |   None  |     False     |   None  |    False    |
|   bill_length_mm  |       FLOAT       |   True   |   None  |     False     |   None  |    False    |
|   bill_depth_mm   |       FLOAT       |   True   |   None  |     False     |   None  |    False    |
| flipper_length_mm |       FLOAT       |   True   |   None  |     False     |   None  |    False    |
|    body_mass_g    |       FLOAT       |   True   |   None  |     False     |   None  |    False    |
|        sex        | VARCHAR(16777216) |   True   |   None  |     False     |   None  |    False    |
+-------------------+-------------------+----------+---------+---------------+---------+-------------+

In [16]:
dynamic_limit = 5
dynamic_column = "island, sex"

In [17]:
%sql SELECT {{dynamic_column}} FROM penguins LIMIT {{dynamic_limit}}

Running query in 'snowflake://neelasha:***@lpb17716.us-east-1/JUPYSQL/INTEGRATION?drivername=snowflake&role=SYSADMIN&warehouse=COMPUTE_WH'

5 rows affected.

+-----------+--------+
|   island  |  sex   |
+-----------+--------+
| Torgersen |  MALE  |
| Torgersen | FEMALE |
| Torgersen | FEMALE |
| Torgersen |  None  |
| Torgersen | FEMALE |
+-----------+--------+

In [18]:
connection.close()
engine.dispose()